@using DoActionInsert.UI.Models
@using Incoding.MvcContrib
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    
    <div>
        <h3>Direct</h3>            
        @(Html.When(JqueryBind.InitIncoding)
              .Do()
              .Direct(IncodingResult.Success(@<text>
                                                  <div>Direct content</div>
                                              </text>))
              .OnSuccess(dsl => dsl.Self().Core().Insert.Html())
              .AsHtmlAttributes()
              .ToDiv())                    
    </div>  
    
    <div>
        <h3>Redirect to</h3>            
        @{ string inputUrlName = Guid.NewGuid().ToString();}
        <label>url to</label>
        @Html.TextBox(inputUrlName)

        @(Html.When(JqueryBind.Click)
              .Do()
              .AjaxGet(Url.Action("RedirectTo", "Data", new { Url = Selector.Jquery.Name(inputUrlName) }))
              .AsHtmlAttributes()
              .ToButton("Redirect"))                    
    </div>   
    
    <div>
        <h3>Action ajax</h3>            
        @(Html.When(JqueryBind.InitIncoding)
              .Do()
              .Ajax(options =>
                        {
                            options.Url = Url.Action("Contact", "Data");
                            options.Type = HttpVerbs.Get;
                        })
              .OnSuccess(dsl => dsl.Self().Core().Insert.Html())
              .AsHtmlAttributes()
              .ToDiv())                    
    </div>
    <div>
        <h3>Submit ( bind on form )</h3>            
        @{
            string submitOnFormResultId = Guid.NewGuid().ToString();
        }
        @using (Html.When(JqueryBind.Submit)
                    .DoWithPreventDefault()
                    .Submit()
                    .OnSuccess(dsl => dsl.WithId(submitOnFormResultId).Core().Insert.Html())
                    .AsHtmlAttributes(new { action = Url.Action("PostContact", "Data"), method = "POST" })
                    .ToBeginTag(Html, HtmlTag.Form))
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">First</label>
                <input type="text" name="First"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last</label>
                <input type="text" name="Last"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <input type="text" name="City"/>
            </div>
            <input type="submit" value="Post"/>
            <div id="@submitOnFormResultId"></div>
        }
    </div>  

    <div>
        <h3>Submit ( bind on input )</h3>            
        @{
            string submitOnInputId = Guid.NewGuid().ToString();
        }
        @using (Html.BeginForm("PostContact", "Data"))
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">First</label>
                <input type="text" name="First"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last</label>
                <input type="text" name="Last"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <input type="text" name="City"/>
            </div>
            @(Html.When(JqueryBind.Click)
                  .DoWithPreventDefault()
                  .SubmitOn(selector => selector.Self().Closest(HtmlTag.Form))
                  .OnSuccess(dsl => dsl.WithId(submitOnInputId).Core().Insert.Html())
                  .AsHtmlAttributes()
                  .ToInput(HtmlInputType.Submit, "Post"))
            <div id="@submitOnInputId"></div>
        }
    </div>  
    <div>
        <h3>Generic insert</h3>    
        <div class="row">
            <div class="col-lg-4">
                @(Html.When(JqueryBind.InitIncoding)
                      .Do()
                      .AjaxGet(Url.Action("FetchContacts", "Data"))
                      .OnSuccess(dsl =>
                                     {
                                         string asTmpl = Url.Dispatcher()
                                                            .Model(new TableContactTmpl { IsShowInfo = true })
                                                            .AsView("~/Views/Template/Table_Contact_Tmpl.cshtml");
                                         dsl.Self().Core().Insert.WithTemplateByUrl(asTmpl).Html();
                                     })
                      .AsHtmlAttributes()
                      .ToDiv())
            </div>
            <div class="col-lg-4">
                @Html.Partial("Contact", new ContactVm())   
            </div>
        </div>                    
    </div>

    <div>
        <h3>Generic insert with template</h3>    
        @{
            string newsContainerId = Guid.NewGuid().ToString();
            string contactContainerId = Guid.NewGuid().ToString();
        }
        @(Html.When(JqueryBind.InitIncoding)
              .Do()
              .AjaxGet(Url.Action("FetchComplex", "Data"))
              .OnSuccess(dsl =>
                             {
                                 dsl.WithId(newsContainerId).Core().Insert.For<ComplexVm>(r => r.News).WithTemplateByUrl(Url.Dispatcher().AsView("~/Views/Template/Table_News_Tmpl.cshtml")).Html();

                                 string asTmpl = Url.Dispatcher()
                                                    .Model(new TableContactTmpl())
                                                    .AsView("~/Views/Template/Table_Contact_Tmpl.cshtml");
                                 dsl.WithId(contactContainerId).Core().Insert.For<ComplexVm>(r => r.Contacts).WithTemplateByUrl(asTmpl).Html();
                             })
              .AsHtmlAttributes()
              .ToDiv())
        <div class="row">
            <div class="col-lg-4" id="@newsContainerId">                
            </div>
            <div class="col-lg-4" id="@contactContainerId"></div>
        </div>
    </div>
    <div>
        <h3>Evetns</h3>    
        @{
            string eventContainerId = Guid.NewGuid().ToString();
        }
        @(Html.When(JqueryBind.InitIncoding)
              .Do()
              .AjaxGet(Url.Action("Contact", "Data"))
              .OnSuccess(dsl => dsl.WithId(eventContainerId).Core().Trigger.Incoding())
              .AsHtmlAttributes()
              .ToDiv())
        <div class="row">
            @(Html.When(JqueryBind.None)
                  .Do()
                  .Event()
                  .OnSuccess(dsl => dsl.Self().Core().Insert.Html())
                  .AsHtmlAttributes(new { id = eventContainerId })
                  .ToDiv())
        </div>
    </div>
    <div>
        <h3>Evetns ( with where )</h3>    
      
        @(Html.When(JqueryBind.InitIncoding)
              .Do()
              .AjaxGet(Url.Action("FetchContacts", "Data"))
              .OnSuccess(dsl => dsl.WithClass("window").Core().Trigger.Incoding())
              .AsHtmlAttributes()
              .ToDiv())
        <div class="row">
            @{
                Func<string, MvcHtmlString> createWindow = (id) =>
                                                               {
                                                                   return Html.When(JqueryBind.None)
                                                                              .Do()
                                                                              .Event()
                                                                              .Where<ContactVm>(r => r.Id == id)
                                                                              .OnSuccess(dsl =>
                                                                                             {
                                                                                                 string urlTemplate = Url.Dispatcher().Model(new TableContactTmpl { IsShowInfo = false })
                                                                                                                         .AsView("~/Views/Template/Table_Contact_Tmpl.cshtml");
                                                                                                 dsl.Self().Core().Insert.WithTemplateByUrl(urlTemplate).Html();
                                                                                             })
                                                                              .AsHtmlAttributes(new { @class="window col-lg-2" })
                                                                              .ToDiv();
                                                               };
            }
            @createWindow("1")
            @createWindow("2")
            @createWindow("3")
            @createWindow("4")
        </div>
    </div>

</div>

